php/info.php
php/recaptchainfo.php
php/hcaptchainfo.php
js/recaptchainfositekey.js
js/hcaptchainfositekey.js
.dccache
jsconfig.json
.vscode
js/ga4code.js
php/ga4code.php
acoin/downloads/aCoin-Mining-1.1.jar