#map {

    width: 512px;
    height: 512px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    
    
}

body > * {

    margin: 15px;
    display: flex;
    justify-content: center;

}

input {

    margin-left: 100px;

}
